/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 150px}
.row {
  margin: 0px !important;
}
.link-icon{
  color: white !important;
  display: inline-block;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}

.logout-btn{
  position: absolute;
  right: 0;
  bottom: 29px;
  left: 0;
  top: 549px;
}

.logo img{
  width: 35%;
}


/* external css */
html {  
  position: relative;  
  min-height: 100%;  
}  
body {  
  padding-top: 4.5rem;  
  margin-bottom: 4.5rem;  
}  
.footer {  
position: absolute;  
bottom: 0;  
width: 100%;  
height: 3.5rem;  
line-height: 3.5rem;  
background-color: #ccc;  
}  
.bg-dark {  
  background-color: #6c757d38 !important ;  
  display: flex;
}  
.nav-link:hover {  
transition: all 0.4s;  
}  
.nav-link-collapse:after {  
float: right;  
content: '\f067';  
font-family: 'FontAwesome';  
}  
.nav-link-show:after {  
float: right;  
content: '\f068';  
font-family: 'FontAwesome';  
}  
.nav-item ul.nav-second-level {  
padding-left: 0;  
}  
.nav-item ul.nav-second-level > .nav-item {  
padding-left: 20px;  
}  
@media (min-width: 992px) {  
.sidenav {  
  position: absolute;  
  top: 0;  
  left: 0;  
  width: 230px;  
  height: calc(100vh - 3.5rem);  
  margin-top: 4.2rem;  
  background: #6aca92!important;
  box-sizing: border-box;  
  border-top: 1px solid rgba(0, 0, 0, 0.3);  
}  
.navbar-expand-lg .sidenav {  
  flex-direction: column;  
}  
.content-wrapper {  
  margin-left: 230px;  
}  
.footer {  
  width: calc(100% - 230px);  
  margin-left: 230px;  
}  

}  
@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: end;
}
}

.user-avatar{
  width: 40%;
  display: flex;
  justify-content: end;
}
.set-avatar{
  width: 10%;
}


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 1 */
.btn-1 {
  background: #6aca92;
  border: none;
}
