<div class="main-container">
    <div class="row">
      <div class="col-md-2">
        <div class="content">
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <a class="logo">
              <img src="../../../../assets/logo.png" alt=""> </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="user-avatar">
                <!-- <img src="../../../../assets/user.png" class="set-avatar" alt=""> -->
                <div class="logout custom-btn btn-1" (click)="logout()">LOGOUT</div>
              </div>
              <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
                <li class="nav-item active">
                  <a class="nav-link link-icon" routerLinkActive="active" [routerLink]="['list']"> Pools</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-icon" routerLinkActive="active" [routerLink]="['add']"> Create a Poll </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>