  <div class="main-container mr-4"> 
    <div class="row justify-content-end mx-2">
      <div class="search">  
        <input class="form-control" type="text" [(ngModel)]="search" (keyup) = "getPollList()" placeholder="Search Polls Here" aria-label="Search">  
      </div> 
      <div>
        <button class="btn gradbtn" routerLinkActive="active" [routerLink]="['/dashboard/add']">Add New Poll</button>  
      </div>
    </div>         
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">question</th>
          <th scope="col">status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of pollData">
          <td class="question">{{data.question}}</td>
          <td *ngIf="data.status == true"><a  class="badge active-poll">open</a></td>
          <td *ngIf="data.status == false"><a class="badge inactive-poll">close</a></td>
          <td><button class="gradbtn" routerLinkActive="active" routerLink="/dashboard/polls-vote/{{data._id}}">
            view
          </button></td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <ngb-pagination class="paginationLayout"
      [collectionSize]="collectionSize" 
      [(page)]="page" 
      [boundaryLinks]="true" [pageSize]="limit" (pageChange)="getPollList()"  >
    </ngb-pagination>
    <!-- <ngb-pagination style="flex-direction: column;flex-wrap: wrap;" class="d-flex justify-content-end"
                [collectionSize]="collectionSize" [(page)]="page" (pageChange)="loadPage($event)" [pageSize]="limit">
            </ngb-pagination> -->
    </div>

    <div>
  </div>
  </div>