<div class="section-block">
    <div class="container">
      <div class="row justify-content-end mb-5">
        <div class="btn btn-success green-color" routerLinkActive="active" [routerLink]="['/sign-in']">
          Login
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="first-block">
            <h1 class="heading">
              sign up to
              <br>
              <span>All Polls</span>
            </h1>
            <div class="left-btn-icon">
              <div class="all-polls">
                <button class="btn btn-success green-color" routerLinkActive="active" [routerLink]="['/sign-up']">
                  GET STARTED
                </button>
              </div>
              <div class="register-btn">
                <button class="btn btn-success green-color" routerLinkActive="active" [routerLink]="['/sign-in']">
                  LOG IN
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="layoutImg">
            <img class="img-responsive" src="../../../../assets/poll-analysis.png">
          </div>
        </div>
      </div>
    </div>
  </div>