
<div class="container mt-5">
  <div class="card" *ngIf="pollData">
    <div class="row justify-content-end mx-3 close-btn-row" *ngIf="pollStatus">
      <button class="btn btn-danger text-white" (click)="closePoll()">Close Poll</button>
    </div>
    <div class="queBlock row">
      <div class="col-12 fSize-14">Poll Question:</div>
      <div class="col-12 font-weight-bold ml-3">{{pollQuestion}}</div>
    </div>
    <hr>
    <div class="optionBlock row">
      <div class="col-12  fSize-14">Options:</div>
      <div *ngIf="totalVotes > 0; else elseOptionBlock" class="col-12 font-weight-bold pl-3">
        <div class="first-block">
          <div class="custom-canvas-width">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="pieChartColors">
            </canvas>
          </div>
        </div>
      </div>
      <ng-template class="row" #elseOptionBlock>
        <div class="col-12 mx-3 mt-3" *ngFor="let option of pollData.options; let i = index">
          <div>{{i+1}} : {{option.value}}</div>
        </div>
        <div class="col-12 mx-3 mt-3">
          <b>Note:</b> No one has answer this poll yet.
        </div>
      </ng-template>
    </div>
  </div>
  <div class="second-block">
    <div class="row">
      <div class="col-md-2">
        <div class="title_block">
          <h5 class="mb-0"> Share Poll :</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="input-group copy_link_box">
          <div>
            <span  id="basic-addon3">{{ domain }}{{ "/submit-poll/" }}{{pollId}}</span>
          </div>
          <button class="copy__link" (click)="copyUrl()">Copy Link</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="title_block">
          <h5 class="mb-0"> Total Votes :</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="input-group copy_link_box">
          <div>
            <span  id="basic-addon3">{{totalVotes}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  


  